body {
    background-color: #7F2CCB;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.HeadPart {
    height: 70px;
    width: 100%;
    background-color: #FF84E8;
    border-radius: 20px;
    flex-direction: row;
    position: relative;
    z-index: 2;

}

.HeadPart img {
    height: 75px;
    width: 75px;
    border-radius: 25px;
    margin-top: 35px;
    margin-left: 35px;
    position: absolute;
    cursor: none;
    pointer-events: none;

}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    letter-spacing: 2px;
    color: #ffd166;
    text-shadow: 0PX 2PX 6PX rgba(0, 0, 0, 0.2);
    cursor: pointer;
    pointer-events: none;
}



.main {
    background-color: #9F42D3;
    height: 300px;
    width: 100%;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.details {
    background-color: rgba(225, 225, 225, 0.2);
    width: 500px;
    height: 284px;
    margin-top: 2px;
    margin-left: 2.5px;
    border-radius: 25px;
    border: 1px solid #9F42D3;
    box-shadow: 0 12PX 30PX rgba(0, 0, 0, 0.2);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10PX 0PX 0PX 20PX;
    text-align: left;
    cursor: pointer;
    pointer-events: none;
}

.details h5 {
    font-weight: 600;
    color: #F1F1F1;
    opacity: 0.8;
}

.details H3 {
    font-size: 22PX;
    font-weight: 700PX;
    color: #F1F1F1;
}

.HobAndInt {
    background-color: rgba(225, 225, 225, 0.2);
    width: 500px;
    height: 284px;
    margin-top: 2px;
    border-radius: 25PX;
    margin-right: 2.5PX;
    border: 1px solid #9F42D3;
    box-shadow: 0 12PX 30PX rgba(0, 0, 0, 0.2);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10PX 20PX 0PX 20PX;
    text-align: left;
    cursor: pointer;
    pointer-events: none;

}

.HobAndInt H3 {
    font-size: 22PX;
    font-weight: 700PX;
    color: #F1F1F1;
}

.HobAndInt li {
    font-weight: 600;
    color: #F1F1F1;
    opacity: 0.8;
}

.SecondPart {
    border: 2px solid #c681ff;
    height: 275px;
    width: 100%;
    display: flex;
    border-radius: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5PX;
}

#githubBTN {
    height: 50PX;
    width: 350PX;
    border-radius: 50PX;
    background: #dfdce4;
    box-shadow: 0PX 4PX 30PX rgba(0, 0, 0, 0.2);
}

#instaBTN {
    height: 50PX;
    width: 350PX;
    border-radius: 50PX;
    background: linear-gradient(45DEG, #F58529, #DD2A7B, #8134AF);
    box-shadow: 0PX 4PX 30PX rgba(0, 0, 0, 0.2);
}

#ytBTN {
    height: 50PX;
    width: 350PX;
    border-radius: 50PX;
    background: #fF2F5B;
    box-shadow: 0PX 4PX 30PX rgba(0, 0, 0, 0.2);
}

.FavCONTENTS {
    height: 350PX;
    width: 100%;
    border: 2PX SOLID #fddde7;
    border-radius: 25PX;
    display: FLEX;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.FavCONTENTS h1{
    font-family:  'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    box-shadow: 0px,11px,40px rgba(7, 6, 6, 0.2);
    color: #ffd166;

}
.FavCONTENTS iframe {
    border-radius: 15PX;
    
  

}

.LETTER {
    background: #c681ff;
    border: 2PX SOLID #fddde7;
    border-radius: 12PX;
    align-items: center;
    justify-content: center;
    display: FLEX;
    flex-direction: column;
    height: 200PX;
    width: 100%;

}

form {
    display: FLEX;
    flex-direction: column;
    gap: 3PX;
}

#EMAIL {
    border-radius: 7PX;
    height: 25PX;
    background-color: #ffd166;
    opacity: 0.8;
}

#NAME {
    border-radius: 7PX;
    height: 25PX;
    background-color: #ffd166;
    opacity: 0.8;
}

#BTN1 {
    border-radius: 7PX;
    height: 25PX;
    background-color: #ffd166;
}
 #nl{
    background-image: url(/akshayaiml35/images/Copilot_20260210_092204.png);
    background-size: cover;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: large;

 }